.logo{
    width: 130px;
}

.error-elem{
    color: red;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}

@media (max-width: 768px) {
    .session-name{
        display: none;
    }
}
.text-blue-950{
    --tw-text-opacity: 1; 
    color: rgb(23 37 84 / var(--tw-text-opacity));
}